<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%X{traceId},%X{spanId},%X{correlationId},%X{tenantId}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <version/>
                <logLevel/>
                <threadName/>
                <loggerName/>
                <message/>
                <context/>
                <stackTrace/>
                <mdc/> <!-- Includes traceId, spanId, correlationId, tenantId -->
                <pattern>
                    <pattern>
                        {
                            "service": "${appName}",
                            "traceId": "%X{traceId}",
                            "spanId": "%X{spanId}",
                            "correlationId": "%X{correlationId}",
                            "tenantId": "%X{tenantId}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <!-- PROFILES -->
    <springProfile name="default,dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="WARN">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
    </springProfile>

</configuration>
